Dzień dobry,<br/><br/>

{{ message|raw }}
<br/><br/>
W każdej chwili możesz zrezygnować i zwolnić miejce dla pozostałych uczestników. Aby to zrobić kliknij na ten link <a href="{{ url('rejected',{token:token}) }}">{{ url('rejected',{token:token}) }}</a>
<br/><br/>
Do zobaczenia wkrótce!
<br/><br/>
Zespół Organizatorów<br/>
http://www.devoxx4kids.pl<br/>
https://www.facebook.com/devoxx4kidspl
