{% extends 'base.html.twig' %}

{% block form_row %}

{% endblock %}

{% block body %}

    <header>
        <h2>{{ 'It is over'|trans }}</h2>
    </header>
    <div class="wrapper style5">
        <div class="inner">
            Dziękujemy za potwierdzenie. Widzimy się w najbliższą sobotę :).
        </div>
    </div>

{% endblock %}

