{% extends 'base.html.twig' %}

{% block form_row %}

{% endblock %}

{% block body %}

    <header>
        <h2>{{ 'Rejected'|trans }}</h2>
    </header>
    <div class="wrapper style5">
        <div class="inner">
            Uczestnictwo zostało anulowane. Dziękujemy.
        </div>
    </div>

{% endblock %}

