{% extends 'base.html.twig' %}

{% block form_row %}

{% endblock %}

{% block body %}

    <header>
        <h2>{{ 'Registered success.'|trans }} - {{ city.name }}</h2>
    </header>

{% endblock %}

