Dziękujemy za zgłoszenie,<br/><br/>

Aby dokończyć rejestrację prosimy kliknąć na ten link <a href="{{ url('confirm',{token:token}) }}">{{ url('confirm',{token:token}) }}</a>.<br/><br/>

Organizatorzy Czarodzieje Kodu