Dzień dobry,<br/>
<br/>
Przypominamy, że w najbliższą sobotę 8 czerwca odbędą się Czarodzieje Kodu - konferencja programistyczna, na którą zapisane jest Twoje dziecko ({{ member.firstName }} {{ member.lastName }}).<br/>
Ponieważ od rejestracji minęło już trochę czasu, nie mamy pewności, czy nie zmieniły się Wasze plany weekendowe.<br/>
Prosimy o <strong>potwierdzenie uczestnictwa</strong> na Czarodzieje Kodu. Aby to zrobić, należy po prostu kliknąć w link<br/>
<br/>
<a href="http://rejestracja.czarodziejekodu.pl/final-confirm/{{ hash }}">http://rejestracja.czarodziejekodu.pl/final-confirm/{{ hash }}</a><br/>
<br/>
Jeżeli Twoje dziecko nie będzie uczestniczyło w warsztatach, oddamy miejsce osobie z listy rezerwowych. Lista chętnych do wzięcia udziału w warsztatach jest bardzo długa, dlatego też nie zwlekaj, *potwierdź uczestnictwo w ciągu 24 godzin*.<br/>
<br/>
----------------------------------------------------<br/>
Pamiętaj, że również dla rodziców przygotowane są ciekawe prelekcje. Miejsce dla Ciebie jest zarezerwowane, ale jeżeli chcesz dodatkowo zabrać znajomych, poproś ich o zarejestrowanie się na wykłady pod tym linkiem: https://d4kpoz2018.evenea.pl/ (dotyczy wyłącznie bloku prelekcji dla rodziców).<br/>
----------------------------------------------------
<br/>
Zespół Organizatorów<br/>
http://www.czarodziejekodu.pl<br/>
https://www.facebook.com/czarodziejekodu<br/>